---
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: traefik-traefik-system
  labels:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik
rules:
  - apiGroups: [""]
    resources: [nodes, services]
    verbs: [get, list, watch]
  - apiGroups: [discovery.k8s.io]
    resources: [endpointslices]
    verbs: [list, watch]
  - apiGroups: [""]
    resources: [pods]
    verbs: [get]
  - apiGroups: [""]
    resources: [secrets]
    verbs: [get, list, watch]
  - apiGroups: [""]
    resources: [namespaces, secrets, configmaps]
    verbs: [get, list, watch]
  - apiGroups: [gateway.networking.k8s.io]
    resources:
      - backendtlspolicies
      - gatewayclasses
      - gateways
      - grpcroutes
      - httproutes
      - referencegrants
      - tcproutes
      - tlsroutes
    verbs: [get, list, watch]
  - apiGroups: [gateway.networking.k8s.io]
    resources:
      - backendtlspolicies/status
      - gatewayclasses/status
      - gateways/status
      - grpcroutes/status
      - httproutes/status
      - tcproutes/status
      - tlsroutes/status
    verbs: [update]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: traefik-traefik-system
  labels:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-traefik-system
subjects:
  - kind: ServiceAccount
    name: traefik
    namespace: traefik-system

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: traefik-traefik-system
      app.kubernetes.io/name: traefik
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "9101"
        prometheus.io/scrape: "true"
      labels:
        app.kubernetes.io/instance: traefik-traefik-system
        app.kubernetes.io/name: traefik
    spec:
      serviceAccountName: traefik
      automountServiceAccountToken: true
      hostNetwork: true
      terminationGracePeriodSeconds: 60
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: traefik
          image: docker.io/traefik:v3.6.7
          imagePullPolicy: IfNotPresent
          args:
            - --entryPoints.metrics.address=:9101/tcp
            - --entryPoints.traefik.address=:8080/tcp
            - --entryPoints.web.address=:80/tcp
            - --entryPoints.websecure.address=:443/tcp
            - --api.dashboard=true
            - --ping=true
            - --metrics.prometheus=true
            - --metrics.prometheus.entrypoint=metrics
            - --providers.kubernetesgateway
            - --providers.kubernetesgateway.statusaddress.service.name=traefik
            - --providers.kubernetesgateway.statusaddress.service.namespace=traefik-system
            - --entryPoints.websecure.http.tls=true
            - --log.level=INFO
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: USER
              value: traefik
          ports:
            - name: metrics
              containerPort: 9101
              protocol: TCP
            - name: traefik
              containerPort: 8080
              protocol: TCP
            - name: web
              containerPort: 80
              protocol: TCP
            - name: websecure
              containerPort: 443
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 1
          securityContext:
            capabilities:
              add:
                - NET_BIND_SERVICE
          volumeMounts:
            - name: data
              mountPath: /data
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: data
          emptyDir: {}
        - name: tmp
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik
spec:
  type: NodePort
  selector:
    app.kubernetes.io/instance: traefik-traefik-system
    app.kubernetes.io/name: traefik
  ports:
    - name: web
      port: 80
      targetPort: web
      protocol: TCP
    - name: websecure
      port: 443
      targetPort: websecure
      protocol: TCP
