apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaayaka-re
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kaayaka-re
  template:
    metadata:
      labels:
        app: kaayaka-re
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: kaayaka-re
          image: naveensasalu/kayaka-re:latest
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          ports:
            - containerPort: 3000
